<div class="navbar navbar-fixed">
  <nav class="navbar-color nav-collapsible gradient-45deg-light-blue-teal">
    <button class="waves-effect waves-light cyan btn-small" [routerLink]="['creation']">CREATION</button>
    <button class="waves-effect waves-light cyan btn-small" [routerLink]="['join-creation']">JOIN CREATION</button>
    <button class="waves-effect waves-light cyan btn-small" [routerLink]="['transformation']">TRANSFORMATION
    </button>
    <button class="waves-effect waves-light cyan btn-small" [routerLink]="['filtering']">FILTERING</button>
    <button class="waves-effect waves-light cyan btn-small" [routerLink]="['join']">JOIN</button>
    <button class="waves-effect waves-light cyan btn-small" [routerLink]="['multicasting']">MULTICASTING</button>
    <button class="waves-effect waves-light cyan btn-small " [routerLink]="['error-handling']">ERROR HANDLING
    </button>
    <button class="waves-effect waves-light cyan btn-small" [routerLink]="['utility']">UTILITY</button>
    <button class="waves-effect waves-light cyan btn-small" [routerLink]="['conditional']">CONDITIONAL
    </button>
    <button class="waves-effect waves-light cyan btn-small" [routerLink]="['math']">MATH & AGGREGATE
    </button>
  </nav>
</div>
