<div class="center padding-1 m1">
    <button class="waves-effect waves-light btn-small" [routerLink]="['creation']">CREATION</button>
    <button class="waves-effect waves-light btn-small" [routerLink]="['join-creation']">JOIN CREATION</button>
    <button class="waves-effect waves-light btn-small" [routerLink]="['transformation']">TRANSFORMATION
    </button>
    <button class="waves-effect waves-light btn-small" [routerLink]="['filtering']">FILTERING</button>
    <button class="waves-effect waves-light btn-small" [routerLink]="['join']">JOIN</button>
    <button class="waves-effect waves-light btn-small" [routerLink]="['multicasting']">MULTICASTING</button>
    <button class="waves-effect waves-light btn-small" [routerLink]="['error-handling']">ERROR HANDLING
    </button>
    <button class="waves-effect waves-light btn-small" [routerLink]="['utility']">UTILITY</button>
    <button class="waves-effect waves-light btn-small" [routerLink]="['conditional']">CONDITIONAL
    </button>
    <button class="waves-effect waves-light btn-small" [routerLink]="['math']">MATH & AGGREGATE
    </button>
</div>
