<h4 class="font-weight-100 center">Operators</h4>
<button class="waves-effect waves-light btn-small cyan darken-3" [routerLink]="['creation']">CREATION</button>
<button class="waves-effect waves-light btn-small cyan darken-3" [routerLink]="['join-creation']">JOIN CREATION</button>
<button class="waves-effect waves-light btn-small cyan darken-3" [routerLink]="['transformation']">TRANSFORMATION
</button>
<button class="waves-effect waves-light btn-small cyan darken-3" [routerLink]="['filtering']">FILTERING</button>
<button class="waves-effect waves-light btn-small cyan darken-3" [routerLink]="['join']">JOIN</button>
<button class="waves-effect waves-light btn-small cyan darken-3" [routerLink]="['error-handling']">ERROR HANDLING
</button>
<button class="waves-effect waves-light btn-small cyan darken-3" [routerLink]="['utility']">UTILITY</button>
<button class="waves-effect waves-light btn-small cyan darken-3" [routerLink]="['conditional']">CONDITIONAL
</button>
<button class="waves-effect waves-light btn-small cyan darken-3" [routerLink]="['math']">MATH & AGGREGATE
</button>
