<div class="center">
  <h5 class="font-weight-100 center">Creation</h5>
  <button class="btn btn-outline-success p-3 m-3 emit-button center">EMIT VALUE</button>
</div>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Example</th>
    <th>Result</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Of</td>
    <td>of(1, 2, 3)</td>
    <td>{{of$ | async}}</td>
  </tr>
  <tr>
    <td>Range()</td>
    <td>range(0, 5)</td>
    <td>{{range$ | async}}</td>
  </tr>
  <tr>
    <td>From()</td>
    <td>from([1, 2, 3])</td>
    <td>{{from$ | async}}</td>
  </tr>
  <tr>
    <td>Generate()</td>
    <td>generate({{'{'}}
      initialState: 0,<br>
      condition: x => x < 10, <br>
      iterate: x => x + 2
      {{'}'}}</td>
    <td>{{generate$ | async}}</td>
  </tr>
  <tr>
    <td>Interval()</td>
    <td>interval(5sec)</td>
    <td>{{interval$ | async}}</td>
  </tr>
  <tr>
    <td>Timer()</td>
    <td>interval(10sec, 2sec)</td>
    <td>{{timer$ | async}}</td>
  </tr>
  <tr>
    <td>FromEvent()</td>
    <td>fromEvent(button, 'click')<br>.pipe(map(button => button.timeStamp))</td>
    <td>{{fromEvent$ | async}}</td>
  </tr>
  <tr>
    <td>throwError()</td>
    <td>throwError(new Error("Oops! ERROR!"))</td>
    <td>Check the console{{throwError$ | async}}</td>
  </tr>
  </tbody>
</table>
