.container-operators {
  height: 100vh;
  display: flex;
}

.container-buttons {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.container-content {
  display: flex;
  flex-direction: column;
  flex: 9;
}


