<div class="center">
  <h5 class="font-weight-100 center">Filter</h5>
</div>
<div class="center-flex">
  <table class="width-60">
    <thead>
    <tr>
      <th>Observable</th>
      <th>Last value</th>
      <th>All values</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><b>alphabet$</b></td>
      <td>{{alphabet$| async}}</td>
      <td>{{alphabetAll$ | async}}</td>
    </tr>
    </tbody>
  </table>
</div>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Example</th>
    <th>All results</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><b>AuditTime()</b></td>
    <td>auditTime(2100)</td>
    <td>{{auditTime$ | async}}</td>
  </tr>
  <tr>
    <td><b>DebounceTime()</b></td>
    <td>debounceTime(2100)</td>
    <td>{{debounceTime$ | async}}</td>
  </tr>
  <tr>
    <td><b>Distinct()</b></td>
    <td>of(1, 1, 2, 2, 2, 1, 1, 2, 3, 3, 4)<br>.pipe(distinct())</td>
    <td>{{distinct$ | async}}</td>
  </tr>
  <tr>
    <td><b>DistinctUntilChange()</b></td>
    <td>of(1, 1, 2, 2, 2, 1, 1, 2, 3, 3, 4)<br>.pipe(distinctUntilChange())</td>
    <td>{{distinctUntilChange$ | async}}</td>
  </tr>
  <tr>
    <td><b>Filter()</b></td>
    <td>of(1, 1, 2, 2, 2, 1, 1, 2, 3, 3, 4)<br>.pipe(filter( number => number % 2 === 0))</td>
    <td>{{filter$ | async}}</td>
  </tr>
  <tr>
    <td><b>ElementAt()</b></td>
    <td>elementAt(3)</td>
    <td>{{elementAt$ | async}}</td>
  </tr>
  <tr>
    <td><b>First()</b></td>
    <td>first()</td>
    <td>{{first$ | async}}</td>
  </tr>
  <tr>
    <td><b>Last()</b></td>
    <td>last()</td>
    <td>{{last$ | async}}</td>
  </tr>
  <tr>
    <td><b>take()</b></td>
    <td>take(5)</td>
    <td>{{take$ | async}}</td>
  </tr>
  <tr>
    <td><b>takeLast()</b></td>
    <td>takeLast(2)</td>
    <td>{{takeLast$ | async}}</td>
  </tr>
  <tr>
    <td><b>skip()</b></td>
    <td>skip(5)</td>
    <td>{{skip$ | async}}</td>
  </tr>
  <tr>
    <td><b>skipLast()</b></td>
    <td>skipLast(2)</td>
    <td>{{skipLast$| async}}</td>
  </tr>
  <tr>
    <td><b>skipUntil()</b></td>
    <td>skipUntil(4sec)</td>
    <td>{{skipUnitil$ | async}}</td>
  </tr>
  </tbody>
</table>
