.button-container {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}

.main-container{
  display: flex;
  /*flex-direction: column;*/
  align-items: flex-start;
}
.inner-container{
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.number {
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 35px;
}

