<div class="center">
  <h4 class="font-weight-100">Subjects</h4>
  <button class="btn waves-effect waves-light cyan darken-3" (click)="generateNumber()">GENERATE NUMBER</button>
  <button class="btn waves-effect waves-light cyan darken-3" (click)="newSubscriber()">NEW SUBSCRIBER</button>
  <button class="btn waves-effect waves-light cyan darken-3" (click)="close()">CLOSE</button>
</div>

<div class="container-card">
  <div class="row width-40">
    <div class="card cyan darken-1">
      <div class="card-content white-text">
        <table>
          <thead>
          <tr>
            <th>Type</th>
            <th>All Values</th>
            <th>New Subscriber</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Subject</td>
            <td>{{subjectAllNumbers$ | async}}</td>
            <td>{{subjectNewSubscriber$ | async}}</td>
          </tr>
          <tr>
            <td>BehaviorSubject</td>
            <td>{{behaviorSubjectAllNumbers$ | async}}</td>
            <td>{{behaviorSubjectNewSubscriber$ | async}}</td>
          </tr>
          <tr>
            <td>AsyncSubject</td>
            <td>{{asyncSubjectAllNumbers$ | async}}</td>
            <td>{{asyncSubjectNewSubscriber$ | async}}</td>
          </tr>
          <tr>
            <td>ReplaySubject</td>
            <td>{{replaySubjectAllNumbers$ | async}}</td>
            <td>{{replaySubjectNewSubscriber$ | async}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
